USE [digital]
GO
/****** Object:  Table [dbo].[news]    Script Date: 06/21/2021 21:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NULL,
	[image] [varchar](100) NULL,
	[fullContent] [nvarchar](4000) NULL,
	[subContent] [nvarchar](500) NULL,
	[writter] [nvarchar](100) NULL,
	[timePost] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON
SET IDENTITY_INSERT [dbo].[news] OFF
